.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .order-form {
        mat-form-field {
            margin-top: 30px;
            max-width: 40%;
        }

        .btn-primary {
            width: 200px;
            margin-left: 30px;
        }
    }

    .selectedOption {
        display: flex;
        justify-items: center;

        .icon {
            color: red;
            cursor: pointer;
            margin-left: 20px;
        }
    }
}

.order-button {
    float: right;
}