.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .order-form {
        mat-form-field {
            margin-top: 30px;
            max-width: 40%;
        }

        .btn-primary {
            width: 200px;
            margin-left: 30px;
        }
    }

    .selectedOption {
        display: flex;
        justify-items: center;

        .icon {
            color: red;
            cursor: pointer;
            margin-left: 20px;
        }
    }
}

.order-button {
    float: right;
}

@media only screen and (max-width: 450px) {
    .options {
        .order-form {
            mat-form-field {
                max-width: 100%;
            }
    
            .btn-primary {
                margin-left: 0px;
            }
        }
    }
    .place-order {
        margin-top: 20px;
    }
}