<div class='col-12'>
  <div class='row'>
    <h3>Wachtwoord veranderen</h3>
    <div class='col-5' [formGroup]="passwordGroup">
      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input type="password" matInput formControlName="new_password" required>
        <mat-error>Please enter your new password</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput formControlName="confirm_password" required [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordGroup.get('confirm_password').hasError('MatchPassword')">Passwords do not match</mat-error>
      </mat-form-field>
    </div>
    <button class="btn btn-primary" (click)="changePassword()" [disabled]="passwordGroup.invalid">Change password</button>
  </div>
</div>
